<highchart-graph class="graph" data="::$ctrl.graphData" legend="false"></highchart-graph>

<div class="container main">
  <hr/>
  <div class="row">
    <div class="col-md-6 col-md-offset-3">

      <!--  Series graph -->
      <div ng-if="::$ctrl.isSeries">
        <a target="_blank" ng-href="{{ ::$ctrl.data.name.url }}">
          <h1 class="title" ng-bind="::$ctrl.data.name.name"></h1>
        </a>
        by
        <span class="author-list-item" ng-repeat="author in ::$ctrl.data.authors">
          <span ng-if="$index > 0">, </span>
          <a target="_blank" ng-href="{{ ::author.url }}" ng-bind="::author.name"></a>
        </span>
        <p>Average <span class="stat-number" ng-bind="::$ctrl.data.rating"></span>/5 based on <span class="stat-number" ng-bind="::$ctrl.data.numRatings | number"></span> ratings</p>

        <p><a target="_blank" ng-href="{{ ::$ctrl.data.name.url }}">See the list of books in this series on Goodreads</a></p>
      </div>

      <!--  Author graph -->
      <div ng-if="::!$ctrl.isSeries">
        <a target="_blank" ng-href="{{ ::$ctrl.data.name.url }}">
          <h1 class="title" ng-bind="::$ctrl.data.name.name"></h1>
        </a>
        <p>Average <span class="stat-number" ng-bind="::$ctrl.data.rating"></span>/5 based on <span class="stat-number" ng-bind="::$ctrl.data.numRatings"></span> ratings</p>

        <p><a target="_blank" ng-href="{{ ::$ctrl.data.name.url }}">See {{ ::$ctrl.data.name.name }}'s full bibliography on Goodreads</a></p>
      </div>
    </div>

    <div class="col-md-1">
      <img class="poster" ng-src="{{ ::$ctrl.data.imageUrl }}" />
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <p>
        Share this page on:
        <!-- TODO: social links urls-->
        <ul class="social-list">
          <a ng-href="https://www.facebook.com/sharer/sharer.php?u={{ ::$ctrl.currentUrl }}"><li class="social-item"><i class="ion-social-facebook-outline"></i></li></a>
          <a ng-href="https://twitter.com/intent/tweet?text={{ ::$ctrl.currentUrl }}"><li class="social-item"><i class="ion-social-twitter-outline"></i></li></a>
          <a ng-href="https://plus.google.com/share?url={{ ::$ctrl.currentUrl }}"><li class="social-item"><i class="ion-social-googleplus-outline"></i></li></a>
        </ul>
      </p>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <search-form>
        <span>Graph Another SciFi or Fantasy Series!</span>
      </search-form>
    </div>
  </div>
</div>
