<highchart-graph ng-if="::!$ctrl.error" class="graph" data="::$ctrl.series.graph" legend="false"></highchart-graph>

<div class="container main">
  <div class="alert alert-danger" role="alert" ng-if="::$ctrl.error">
    <i class="ion-alert-circled"></i> 
    &nbsp;<span ng-bind="::$ctrl.error"></span>
  <div class="container">
    <div class="row" ng-if="::!$ctrl.error">
      <div class="col-lg-4 col-lg-offset-3">
        <a target="_blank" ng-href="{{ ::$ctrl.series.seriesLink }}"><h1 class="" ng-bind="::$ctrl.series.title"></h1></a>
        <p><span ng-bind="::$ctrl.series.rating"></span>/5 based on <span ng-bind="::$ctrl.series.numRatings"></span> ratings</p>
        <p><a target="_blank" ng-href="{{ ::$ctrl.series.seriesLink }}">See the list of books on Goodreads</a></p>
        <!-- TODO -->
        <p>Share this page on: TWITTER FB</p>
      </div>
      <div class="col-lg-1">
        <!--  TODO: style properly-->
        <img class="" ng-src="{{::$ctrl.series.imageUrl}}">
      </div>
    </div>
  </div>

</div>
