span.stat-number {
  font-size: 18px;
}

span.author-list-item {
  display: inline-block;
  font-size: 22px;
}

.tooltip-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 95px;
}

#graph {
  padding: 0 20px;
}

.tooltip-image {
  align-self: center;
  margin-left: 10px;
  position: relative;
  width: 50px;
  height: 75px;

  .tooltip-placeholder {
    position: absolute;
    top: 10px;
    left: 0;
    background-image: url(./loader.gif);
    width: 50px;
    height: 50px;

  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    // margin-left: auto;
    // margin-right: auto;
    // left: 0;
    // right: 0;
    width: 50px;
  }
}

img.poster {
  height: 150px;
  margin: 20px auto;
}
