 <div class="container main">
   <div class="row">
     <div class="col-lg-6 col-lg-offset-3">
       <h2>{{ ::$ctrl.appName }} TODO:</h2>
        <ul>
          <li> Serverside:
            <ul>
              <li>Fetch/store data from Goodreads API</li>
              <li style="text-decoration: line-through;">Rethink GraphQL data schema
              <li style="text-decoration: line-through;">add book images in graph</li>
              <li>Deploy to Heroku</li>
            </ul></li>
          <li>Header/ footer:
            <ul>
              <li>what stuff goes in the footer? Disclaimer, trademark, links</li>
              <li>Do we need header?</li>
              <li>Navigation links on footer/header</li>
            </ul>
          </li>
          <li>Style:
            <ul>
              <li>Fonts: Logo/app name, text in page</li>
              <li style="text-decoration: line-through;">search button</li>
              <li>search component</li>
              <li style="text-decoration: line-through;">about page: flex box icons?</li>
              <li style="text-decoration: line-through;">WTF is wrong with the footer / scroll bar</li>
            </ul>
            <li>Graph Page:
            <ul>
              <li style="text-decoration: line-through;">Graph page: Series image</li>
              <li style="text-decoration: line-through;">book images in graph</li>
              <li style="text-decoration: line-through;">Authors list</li>
              <li style="text-decoration: line-through;">Share this page on: TWITTER FB</li>
              <li>Share urls</li>
            </ul></li>
            <li>About Page:
            <ul>
              <li style="text-decoration: line-through;">Rewrite</li>
              <li style="text-decoration: line-through;">Add list of technologies used</li>
              <li style="text-decoration: line-through;">tech icons & url links</li>
            </ul></li>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <search-form>
         <span>Graph Ratings of Your Favorite Sci-Fi and Fantasy Book Series</span>
        </search-form>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <ul>
          <li>
            <a href="" ng-click="$ctrl.goto('graph')">Graph</a>
          </li>
          <li>
            <a href="" ng-click="$ctrl.goto('about')">About</a>
          </li>
        </ul>
      </div>
    </div>
</div>
