 <div class="container main">
   <div class="row">
     <div class="col-lg-6 col-lg-offset-3">
       <h2>{{ ::$ctrl.appName }} TODO:</h2>
        <ul>
          <li> Serverside:
            <ul>
              <li>Fetch/store data from Goodreads API</li>
              <li style="text-decoration: line-through;">Rethink GraphQL data schema
              <li>add book images in graph</li>
              <li>Deploy to Heroku</li>
            </ul></li>
          <li>Header/ footer:
            <ul>
              <li>what stuff goes in the footer? Disclaimer, trademark, links</li>
              <li>Do we need header?</li>
              <li>Navigation links on footer/header</li>
            </ul>
          </li>
          <li>Style:
            <ul>
              <li>Graph page: Series image, book images in graph</li>
              <li>Authors list</li>
              <li>search button</li>
              <li>about page: flex box images?</li>
              <li style="text-decoration: line-through;">WTF is wrong with the footer / scroll bar</li>
            </ul>
            <li>About Page:
            <ul>
              <li style="text-decoration: line-through;">Rewrite</li>
              <li style="text-decoration: line-through;">Add list of technologies used</li>
            </ul></li>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <search-form>
         <span>Graph Ratings of Your Favorite Sci-Fi and Fantasy Book Series</span>
        </search-form>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <ul>
          <li>
            <a href="" ng-click="$ctrl.goto('graph')">Graph</a>
          </li>
          <li>
            <a href="" ng-click="$ctrl.goto('about')">About</a>
          </li>
        </ul>
      </div>
    </div>
</div>
