 <div class="container main">
   <h2>{{ ::$ctrl.appName }} TODO:</h2>
   <p>everything! :P</p>

   <div>
     <form ng-submit="$ctrl.submit()">
       <fieldset class="form-group">
         <span>Graph Ratings of Your Favorite Sci-Fi and Fantasy Book Series</span>
         <input class="form-control form-control-lg"
                type="text"
                placeholder="Enter series name"
                ng-model="$ctrl.formData.seriesName" />
         <button class="btn btn-xs btn-primary pull-xs-right" type="submit">Go!</button>
       </fieldset>
     </form>
   </div>

   <ul>
     <li>
       <a href="" ng-click="$ctrl.goto('graph')">Graph</a>
     </li>
     <li>
       <a href="" ng-click="$ctrl.goto('about')">About</a>
     </li>
   </ul>
</div>
