<ng-transclude></ng-transclude>

<!-- classes ui-select-match & ui-select-choices required to fix https://github.com/angular-ui/ui-select/issues/1325 -->
<ui-select ng-model="$ctrl.selectedItem" theme="bootstrap">
  <ui-select-match class="ui-select-match">
      <span ng-bind="$select.selected.title"></span>
  </ui-select-match>
  <ui-select-choices class="ui-select-choices" repeat="book in ($ctrl.series | filter: $select.search) track by book.slug">
      <span ng-bind="::book.title"></span>
  </ui-select-choices>
</ui-select>
<span class="input-group-btn">
  <button class="btn btn-s btn-primary pull-xs-right" type="submit"
          ng-class="{disabled: !$ctrl.selectedItem }"
          ng-click="$ctrl.submit()">Go!</button>
</span>
