<ng-transclude></ng-transclude>
<div class="input-group">
  <!-- classes ui-select-match & ui-select-choices required to fix https://github.com/angular-ui/ui-select/issues/1325 -->
  <ui-select ng-model="$ctrl.selectedItem" reset-search-input="false">
    <ui-select-match class="ui-select-match" placeholder="Type your favourite sci-fi series or author...">
        <span ng-bind="$select.selected.title"></span>
    </ui-select-match>
    <ui-select-choices class="ui-select-choices" refresh="$ctrl.checkSearch($select.search)" refresh-delay="50"
      repeat="book in ($ctrl.series | filter: $select.search | limitTo: $ctrl.limitSeriesSearch) track by book.slug">
        <span ng-bind="book.title"></span>
        <small>by {{ book.author }}</small>
    </ui-select-choices>
  </ui-select>
  <span class="input-group-btn">
    <button class="btn btn-s btn-primary pull-xs-right" type="submit"
            ng-class="{disabled: !$ctrl.selectedItem }"
            ng-click="$ctrl.submit()">Go!</button>
  </span>
</div>
